*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: large;
    color: rgb(147, 24, 200);
    background-color: rgb(241, 235, 235);
    position: fixed;
    width: 100%;
    z-index: 99;
}
nav h1{
    color: rgb(179, 24, 226);
}
.options{
    display: flex;
    gap: 34px;
    font-weight: 700;
}
.options p{
    cursor: pointer;
    transition: .5s;
}
.options p:hover{
    color: rgb(167, 6, 71);
}
.sec-1{
    background: url(https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 600px;
    background-size: cover;
}
.booking{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    color: pink;
    background-color: rgba(0, 0, 0, 0.719);
    position: relative;
    top: 300px;
}
.booking label{
    margin: 20px;
}
.booking input, select{
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.destination{
    width: 20%;
}
.destination input{
    width: 100%;
}
.booking button{
    background-color: rgb(179, 24, 226);
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: .5s;
    scale: .9;
}
.booking button:active{
    background-color: rgb(167, 6, 71);
    scale: 1;
}
.sec-2{
    justify-content: space-between;
    background-color: black;
    padding: 30px;
}
.card{
    background-color: transparent;
}
.c-body{
    border: 1px solid rgb(179, 24, 226);
    color: aliceblue;
    padding: 10px;
}
.c-title{
    color:  rgb(179, 24, 226);
}
.sec-3{
    background-color: black;
    color: white;
    gap: 20px;
    padding: 30px;
}
.sec-3 img{
    width: 30%;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.about h1{
    color: rgb(179, 24, 226);
}
.about .b-1{
    padding: 10px 20px;
    background-color: rgb(179, 24, 226);
    color: white;
    transform: .3s;
}
.about .b-1:active{
    background-color:  rgb(167, 6, 71);
}
.about .b-2{
    padding: 10px 20px;
    background-color: black;
    color: rgb(179, 24, 226);
    border: 1px solid  rgb(179, 24, 226);
    transition: .3s;
}
.about .b-2:active{
    border: 1px solid  rgb(167, 6, 71);
    color: rgb(167, 6, 71);
}
.about form{
    display: flex;
    gap: 30px;
}
.sec-4{
    background-color: black;
    color: white;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    padding: 30px;
}
.sec-4 h1{
    color: rgb(179, 24, 226);
}
.sec-4 .package{
    width: 100%;
    gap: 10px;
}
.bali{
    background-image: url(https://images.pexels.com/photos/2166553/pexels-photo-2166553.jpeg?auto=compress&cs=tinysrgb&w=400);
    background-size: cover;
    width:20%;
    height: 30vh;
    display: flex;
    justify-content: start;
    align-items: end;
    border-radius: 10px;
    transition: .5s;
    scale: .9;
}
.paris{
    background-image: url(https://images.pexels.com/photos/161901/paris-sunset-france-monument-161901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    width:20%;
    height: 30vh;
    display: flex;
    justify-content: start;
    align-items: end;
    border-radius: 10px;
    transition: .5s;
    scale: .9;
}
.goa{
    background-image: url(https://media.istockphoto.com/id/138137578/photo/beach.jpg?s=612x612&w=0&k=20&c=p5yT1YoZReV31XjSBNxJFilqYLs2ezFmrZ1EZMYxziU=);
    background-size: cover;
    width:20%;
    height: 30vh;
    display: flex;
    justify-content: start;
    align-items: end;
    border-radius: 10px;
    transition: .5s;
    scale: .9;
}
.petra{
    background-image: url(https://images.pexels.com/photos/1631665/pexels-photo-1631665.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    width:20%;
    height: 30vh;
    display: flex;
    justify-content: start;
    align-items: end;
    border-radius: 10px;
    transition: .5s;
    scale: .9;
}
.lakshadweep{
    background-image: url(https://media.istockphoto.com/id/502706984/photo/beach-hut-in-the-sun.jpg?s=612x612&w=0&k=20&c=a5JrWCWoCh-ZzW3loFCQLH9ETJXY_Obw-dQGuR255z8=);
    background-size: cover;
    width:20%;
    height: 30vh;
    display: flex;
    justify-content: start;
    align-items: end;
    border-radius: 10px;
    transition: .5s;
    scale: .9;
}
.package div:hover{
    scale: 1.1;
    cursor: pointer;
    box-shadow: 0 0 15px rgb(249, 251, 252);
}
.package p{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    font-weight: 600;
    color: rgb(251, 24, 221);
    position: relative;
    top: 15px;
    border-radius: 10px;
}
.sec-5{
    /* height: 78vh; */
    background-image: url("https://images.pexels.com/photos/38722/pexels-photo-38722.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* background: black; */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.memories{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.529);
}
.memories img{
    width: 14%;
}
.contact{
    width: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.529);
    color: white;
}
.contact div{
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media screen {max-width: ;
    
}