*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Protest Riot', sans-serif;
    letter-spacing: 1px;
}
body{
    background: linear-gradient(to right, rgb(58, 58, 192),rgb(29, 90, 243), rgb(41, 41, 220));
    min-height: 100vh;
    height: max-content;
}
.container{
    padding: 0 35px 0 35px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
}
.profile{
    display: flex;
    gap: 15px;
    
}
.profile img{
    width: 50px;
    cursor: pointer;
}
.profile h1{
    color: rgb(118, 216, 249);
    cursor: pointer;
}

.navbar{
    display: flex;
    gap: 25px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    align-items: center;
    cursor: pointer;
}
.navbar p{
    width: max-content;
}
.navbar p:hover{
    color: yellow;
}
section{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 15vh;
}
section h1{
    color: rgb(118, 216, 249);
    font-size: 5vh;
}
.l1,.l2{
    font-size: 4vh;
}
.l1{
    position: relative;
}
.search{
    width: 60%;
    display: flex;
    display: flex;
    gap: 20px;
}
.srch{
    border: 1px solid rgba(0, 0, 0, 0.582);
    padding: 10px 20px;
    width: 90%;
    background-color: transparent;
    color: azure;
    font-size: 25px;
    border-radius: 28px;
}
.search input::placeholder{
    color: aquamarine;
    font-size: 25px;
    text-transform: uppercase;
    opacity: 0.5;
}
.name{
    animation: color-change 5s linear infinite;
}
.search button{
    width: 8rem;
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
    transition: .4s;
    border: none;
    align-items: center;
}
.search button{
    animation: bg 10s linear infinite;
}
.icon{
    display: none !important;
}
.search button:active{
    scale: 1;
    color: rgba(14, 5, 5, 0.612);
    background-color: rgb(0, 167, 123);
}
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    color: aliceblue;
    font-weight: 900;
    justify-content: space-around;
    font-size: 3vh;
}
footer p{
    cursor: pointer;
    transition: .5s;
}
footer p:hover{
    color: yellow;
}
footer hr{
    width: 100%;
    position: absolute;
    bottom: 5vh;
}

@keyframes color-change{
    from{
        letter-spacing: 0;
    }
    50%{
        letter-spacing: 5px;
    }
    to{
        letter-spacing: 0;

    }
}
@keyframes bg{
    0%{
        background-color: aliceblue;
        scale: 1;
    }
    30%{
        background-color: aquamarine;
        scale: 1.2;
    }
    60%{
        background-color: rgb(8, 181, 249);
        scale: 1.4;
    }
    90%{
        background-color: rgb(2, 77, 142);
        scale: 1.2;
    }
    100%{
        background-color: aliceblue;
        scale: 1;
    }
} 
@media screen and (max-width:1300px){
    .l1,.l2{
        font-size: 25px;
    }
}
@media screen and (max-width:850px){
    .navbar p{
        display: none;
    }
    .icon{
        display: flex !important;
    }
    .l1,.l2{
        font-size: 22px
    }   
}
@media screen and (max-width:600px){
    footer p {
        font-size: 20px;
        font-weight: 500;

    }
    footer{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 10px;
    }
    .l1,.l2{
        font-size: 20px;
        text-align: center;

    }   
    .search{
        display: flex;
        width: 100%;
        gap: 10px;
    }
    .name{
        font-size: 35px;
        text-align: center;
    }
}
@media screen and (max-width:400px){
    footer{
        display: none;
    }
}
@media screen and (max-width:350px){
    section h1{
        font-size: 4vh;
    }
}